.is-select-invalid > div:nth-child(2){
  border-color: #dc3545 !important;
  border-width: 1px !important;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat !important;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.dropdown > div:nth-child(2){
  border-width: 0;
  background-color: rgb(248, 249, 250) !important;
}

.bg-light-container{
  background-color: rgb(239, 239, 239) !important;
}

@media (max-width: 576px) { 
  .bg-light-container{
    width: 90% !important;
  }
 }

@media (min-width: 576px) { 
  .bg-light-container{
    width: 90% !important;
  }
 }

@media (min-width: 768px) { 
  .bg-light-container{
    width: 70% !important;
  }
 }

@media (min-width: 992px) { 
  .bg-light-container{
    width: 50% !important;
  }
 }

@media (min-width: 1200px) { 
  .bg-light-container{
    width: 50% !important;
  }
 }

@media (min-width: 1400px) { 
  .bg-light-container{
    width: 50% !important;
  }
 }

.bg-light-input{
  background-color: rgb(248, 249, 250) !important;
}

.bg-light-input::placeholder, .css-1wa3eu0-placeholder{
  color: #b3b3b3 !important;
}

.is-select-invalid > div:nth-child(2):hover, .is-select-invalid > div:nth-child(2):focus{
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25) !important;
}

.scroll-head{
  color: rgb(176, 176, 176) !important;
  background-color: transparent !important;
  border: none !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

.datepicker-button-previous, .datepicker-button-next{
  background: #AE678C !important;
}

.date-day-Item-selected{
  border: 2px solid #AE678C !important;
  color: #AE678C !important;
}

.datepicker-date-day-Item:hover {
  background-color: #AE678C !important;
  border: 2px solid transparent !important;
  color: #fff !important;
}

.datepicker-month-label {
  color: #AE678C !important;  
}

.btn-outline-secondary:hover, .btn-outline-addOn:hover{
  border: solid 2px #C56F9C !important;
  color: #C56F9C !important;
  background-color: #f5e6ed !important;
  font-weight: bold !important;
  box-shadow: 0 0 0 0.25rem rgb(174 103 140 / 25%) !important;
}

.btn-outline-secondary{
  border-width: 2px !important;
}

.btn-outline-addOn{
  font-weight: bold;
  border: solid 2px #AE678C !important;
  color: #AE678C !important;
  background-color: #f5e6ed !important;
}

.btn-cta{
  font-weight: bold;
  letter-spacing: 1px;
  border: solid 2px #AE678C !important;
  color: #AE678C !important;
  background-color: #f5e6ed !important;
}

.btn-selected-block{
  border-width: 2px !important;
  background: #AE678C !important;
  color: white !important;
}

.btn-cta:hover, .btn-cta-active{
  font-weight: bold;
  letter-spacing: 1px;
  border-width: 2px !important;
  background: #AE678C !important;
  color: white !important;
}

.btn-cta:focus, .btn-outline-secondary:focus, .btn-selected-block:focus, .btn-cta-active:focus{
  box-shadow: 0 0 0 0.25rem rgb(174 103 140 / 25%) !important;
}

.box-shadow{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;  
}

.captcha-container div{
  margin-right: auto !important;
  margin-left: auto !important;
}

.smaller-text {
  font-size: 0.9rem !important;
}

.addOnIcon {
  font-size: 2rem !important;
}